// Specific CSS for your home-page
.container-fluid {
}

.banner {
  background-color: white;
  padding: 10px 0;
  display: flex;
}
.banner h1{
  color: black;
  font-size: 64px;
  margin: 0;
  margin-left: 30px;
  font-family: 'Crimson Text';
}

.banner-buttons {
  display: flex;
  align-items: center;
}

.banner-buttons {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: white;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.banner-buttons:hover {
  background-color: #ababab;
}

.logo {
  display: flex;
  justify-content: flex-end; /* Aligns items to the end of the container (right side) */
  padding: 0;
  margin-bottom: 100px;
  margin-right: 100px;
}

.logo img {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Maintain aspect ratio */
}

.search-bar {
  margin-left: 30px;
  margin-right: 30px;
  color: black;
  background-color: #D0E7DF;
  text-align: start;
  height: 400px;
  font-family: 'Crimson Text';
}

.search-bar h6 {
  font-size: 18px;
  text-align: right;
  margin-right: 50px;
  font-size: 28px;
  font-family: 'Crimson Text';
}

.search-bar h2{
  font-size: 45px;
  padding: 30px;
  font-family: 'Crimson Text';
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.search-button{
  background-color: #17674A;
  font-size: 14px;
  padding: 3px;
  margin-right: 45px;
  color: white;
  font-family: 'Crimson Text';
}

.search-button:hover {
  background-color: rgb(0, 80, 0);
}

.search-box {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: none;
  border-radius: 4px;
}

.form-control {
  width: 100px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  font-size: 18px; /* Adjust font size as needed */
  padding: 10px; /* Adjust padding as needed */
  border: 2px solid #ccc; /* Example border style */
  border-radius: 5px; /* Rounded corners */
}


.popular-recipe-batch{

  text-align: center;
  font-family: 'Crimson Text';
}
.popular-recipe {
  background-color: rgb(154, 218, 169);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // height: 500px;
  // padding:30px;
  // padding-top: 25px;
  // padding-bottom: 25px;
  margin-right: 100px;
  margin-left: 50px;
}

.feeling-confident {
  background-color: #ede7e6;
  padding: 50px;
  text-align: center;
  padding:20px;
  font-size: 48px;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
}

.random-recipe {
  text-align: center;
}

.random-button {
  background-color: #17674A;
  color: white;
  padding: 40px 80px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 1.5%;
}

.random-button:hover {
  background-color: rgb(0, 80, 0)
}

.recipe-magic {
  h4 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Crimson Text';
  }

  h6 {
    font-size: 22px;
    font-family: 'Crimson Text';
  }
  background-color: #c0dccf;;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 48px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Crimson Text';
}

.footer {
  background-color: white;
  padding: 25px;
  text-align: center;
  height: 200px;
  font: 48px;
}

.step-1 {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: right;
  padding: 25px;
  background-color: #FAF4F3;
  width: 75%;
  height: 200px;
  border-radius: 5px;
}

.step-2 {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  padding: 25px;
  background-color: #FAF4F3;
  width: 75%;
  height: 200px;
  border-radius: 5px;
}

.step-3 {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: right;
  padding: 25px;
  background-color: #FAF4F3;
  width: 75%;
  height: 200px;
  border-radius: 5px;
}


// BELOW ARE POPULAR RECIPES DIV PARTS //

.popular-recipe-batch h2 {
  margin: 60px;
  font-size: 45px;
  padding: 30px;
}

.popular-recipe-batch {
  height: 500px;
  // margin-top:50px;
  margin-bottom: 50px;
}

.popular-recipe {

  padding: 40px;
  overflow: hidden;
  background: #D0E7DF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.popular-recipe > img {
  height: 200px;
  width: 230px;
  // object-fit: cover;
}

.popular-recipe h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  // text-align: center;
  justify-content: start
}

.popular-recipe p {
  font-size: 12px;
  // opacity: .7;
  margin: 0;
}

.popular-recipe .popular-recipe-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.recipe-container {
  display: flex;
  justify-content: space-between;
}

.recipe-button {
  display: inline-block;
  // padding:10px 20px;
  background-color: #17674A;
  color: white;
  border: none;
  border-radius: 5px;
}

.recipe-button:hover {
  background-color: rgb(0, 80, 0);
}


// FOOTER //
.search-container-2 {
  display: flex;
  align-items: center;
  justify-content: end;
}

.search-button-2 {
  background-color: #17674A;
  font-size: 14px;
  padding: 3px;
  margin-right: 45px;
  color: white;
}

.search-button-2:hover {
  background-color: rgb(0, 80, 0);
}

.search-box-2 {
  padding: 0px;
  border: none;
  border-radius: 4px;
}
