// Specific CSS for your home-page
.banner {
  background-color: white;
  padding: 10px 0;
}
.banner h1{
  color: black;
  font-size: 64px;
  margin: 0;
  margin-left: 30px;
}

.search-bar {
  color: black;
  background-color: #c0dccf;
  text-align: start;
  height: 400px;
}

.search-bar h6 {
  font-size: 18px;
  text-align: right;
  margin-right: 50px;
  font-size: 28px;
}

.search-bar h2{
  font-size: 45px;
  padding: 30px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.search-button{
  background-color: green;
  font-size: 14px;
  padding: 3px;
  margin-right: 45px;
  color: white;
}

.search-button:hover {
  background-color: rgb(0, 80, 0);
}

.search-box {
  padding: 0px;
  border: none;
  border-radius: 4px;
}

.popular h2{
  font-size: 45px;
  padding: 30px;
}

// .popular-recipes {
//   background-color: rgb(245, 245, 245);
//   height: 500px;
//   padding:30px;
//   // padding-top: 25px;
//   // padding-bottom: 25px;
// }

.feeling-confident {
  background-color: rgb(244, 229, 224);
  height: 250px;
  padding: 25px;
  text-align: center;
  padding:20px;
  font-size: 48px;
}

.random-recipe {
  text-align: center;
}

.random-button {
  background-color: green;
  color: white;
  padding: 40px 80px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 1.5%;
}

.random-button:hover {
  background-color: rgb(0, 80, 0)
}

.recipe-magic {
  h4 {
    font-size: 24px;
    font-weight: bold;
  }

  h6 {
    font-size: 22px;
  }
  background-color: #c0dccf;;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 48px;
}

.footer {
  background-color: white;
  padding: 25px;
  text-align: center;
  height: 200px;
  font: 48px;
}

.step-1 {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: right;
  padding: 25px;
  background-color: rgb(247, 236, 232);
  width: 75%;
  height: 200px;
  border-radius: 5px;
}

.step-2 {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  padding: 25px;
  background-color: rgb(247, 236, 232);
  width: 75%;
  height: 200px;
  border-radius: 5px;
}

.step-3 {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: right;
  padding: 25px;
  background-color: rgb(247, 236, 232);
  width: 75%;
  height: 200px;
  border-radius: 5px;
}


// BELOW ARE POPULAR RECIPES DIV PARTS //
.popular-recipe {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.popular-recipe > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.popular-recipe h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.popular-recipe p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.popular-recipe .popular-recipe-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.popular-recipe-info {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.recipe-container {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.recipe-button {
  display: inline-block;
  // padding:10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.recipe-button:hover {
  background-color: rgb(0, 80, 0);
}
