<h1>All Recipes</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= recipe.name %></li>
    <li><%= recipe.description %></li>

    <li><%= recipe.rating %></li>
    <li> <%= link_to "View Recipe", recipe_path(recipe) %> </li>

  <% end %>
</ul>
