<div class="header">
    <div class="title">
      <h1>Recipes You Can Make</h1>
    </div>
    <div class="subtitle">
      <h3>Filter for Dietary Requirments</h3>
    </div>
    <div class="buttons-container">
        <button class="round-button">VE</button>
        <button class="round-button">VG</button>
        <button class="round-button">GF</button>
        <button class="round-button">DF</button>
    </div>
</div>

<div class="recipe">
  <% if @recipes.present? %>
    <% @recipes.each do |recipe| %>
      <div class="recipe-item">
      <%= link_to recipe_path(recipe) do %>
        <% if recipe.photo.attached? %>
          <div class="recipe-image">
            <%= cl_image_tag(recipe.photo.key, class: "recipe_images") %>
          </div>
        <% else %>
          <div class="recipe-image">
            <%= image_tag 'gnocchi.jpeg', class: "recipe-image" %>
          </div>
        <% end %>
        <div class="recipe-info">
          <h3 class="recipe-name"><%= recipe.name %></h3>

        </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No recipes found.</p>
  <% end %>
</div>
