
  <div class="title">
    <h1>Recipes You Can Make</h1>
  </div>
  <div class="subtitle">
    <h3>Filter for Dietary Requirments</h3>
  </div>
  <div class="buttons-container">
      <button class="round-button">VE</button>
      <button class="round-button">VG</button>
      <button class="round-button">GF</button>
      <button class="round-button">DF</button>
    </div>

  <div class="recipe">
    <% if @recipes.present? %>
      <% @recipes.each do |recipe| %>
        <div class="recipe-item">
          <h3 class="recipe-name"><%= recipe.name %></h3>
          <%= link_to "View Recipe", recipe_path(recipe), class: "view-recipe-link" %>
        </div>
      <% end %>
    <% else %>
      <p>No recipes found.</p>
    <% end %>
  </div>
