<div class="rooms">
<h1>GrubHub</h1>

<p>
  <%= link_to 'New Hub', new_chatroom_path, class: 'btn btn-primary' %>
</p>

<div class="chatrooms-container">
  <% @chatrooms.each do |chatroom| %>
    <div class="chatroom-card">
      <h2 class="chatroom-name"><%= link_to chatroom.name, chatroom_path(chatroom) %></h2>
    </div>
  <% end %>
</div>
</div>

<style>

  h1 {
    font-family: 'Crimson text';
    margin-left: 30px;
    margin-top: 20px;
  }

  p {
    margin-left: 30px;
  }
  .chatrooms-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin-left: 30px;
  }

  .chatroom-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 40px); /* Adjust width based on how many cards per row */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    background-color: #c0dccf;
  }

  .chatroom-card:hover {
    transform: scale(1.05);
    background-color: #ede1e7;
  }

  .chatroom-name {
    margin: 0;
    font-size: 1.5em;
  }

  a {
    color: black;
    font-family: 'Crimson text';
    text-decoration: none;

  }

  .rooms{
  background-image: image-url('pink.jpg'); /* Replace with the path to your image */
  background-size: cover; /* Adjusts the background image to cover the entire background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Ensures the background image is not repeated */
  margin: 0;
  padding: 0;
}


</style>
