<div class="banner">
  <h1>Social Munch</h1>
</div>

<div class="search-bar">
  <div class=h2> Enter Your Ingredients and See the Magic</div>

  <div class=h6> What do you have in your kitchen?</h6></div>

  <div class="search-container">
  <div class="search-box">
    <%= form_tag(recipes_path, method: :get) do %>
      <%= text_field_tag :ingredients, nil, placeholder: "Type your ingredients" %>
      <%= submit_tag "Search", class: "search-button" %>
    <% end %>
  </div>
</div>

<div class="popular-recipes">
  <h2>Popular Recipes of the Week</h2>
</div>

<div class="feeling-confident">
  <h2>Feeling Confident?</h2>

<div class="random-recipe">
  <button class="random-button">Click here for a random recipe</button>
</div>
</div>

<div class="recipe-magic">
  <h2>Recipe Magic</h2>
</div>

<div class="footer">
  <h2>Sign up for our newsletter</h2>

  <div class="search-container-2">
    <div class="newsletter-box">
      <input type="text" palceholder="Subscribe to our newsletter">
    </div>

    <button class="subscribe-button">Subscribe</button>
</div>
