// chatroom.scss


.background {
  background-image: image-url('Banner.jpg'); /* Replace with the path to your image */
  background-size: cover; /* Adjusts the background image to cover the entire background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Ensures the background image is not repeated */
  margin: 0;
  padding: 0;
  height: 1000px;
}

.container.chatroom {
  max-width: 850px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .chatroom-name {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
  }

  .messages {
    margin-bottom: 20px;
    max-height: 870px;
    overflow-y: auto;
    padding-right: 10px;
    display: flex; /* Ensure .messages container is a flex container */
    flex-direction: column; /* Stack messages vertically */

    .message {
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 5px;
      max-width: 70%;
      word-wrap: break-word;
      display: flex; /* Ensure messages are displayed as flex containers */
      flex-direction: column; /* Stack message content vertically */

      .message-meta {
        margin-bottom: 5px;
        display: flex;
        align-items: center;

    .message-time {
      font-style: italic;
      color: #868e96;
    }

        .message-time {
          font-size: 0.9rem;
          color: #6c757d;
        }
      }

      .message-content {
        margin-bottom: 0;
      }
    }
  }

  .message-form {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;

    .message-input {
      flex-grow: 1;
      margin-right: 0px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      width: 680px;
    }

    .message-submit {
      min-width: 80px;
      padding: 10px 20px;
      background-color: #17674A;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-left: 0px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
