.navbar-lewagon {

  .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  justify-content: space-between;
  background: #17674A;
  a {
    text-decoration: none;
    color: white;
    font-family: 'Crimson Text';
    font-size: 50px;
  }

  h1 {
    font-size: 60px;
    color: white;
    font-family: 'Crimson Text';
    margin-right: 1100px;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  .nav-link {
    color: white;
    font-family: 'Crimson Text';
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
  }

  .avatar {
    margin-left: 20px;
  }
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
