.navbar-lewagon {

  .container-fluid{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  justify-content: space-between;
  background: #17674A;
  a {
    text-decoration: none;
    color: white;
    font-family: 'Crimson Text';
    font-size: 20px;
  }

  h1 {
    font-size: 60px;
    color: white;
    font-family: 'Crimson Text'
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
