
.content {
  padding: 0px 150px;
}
.header {
  background-color: #FDF4F4;
}
.title {
  background-color: #FAF4F3 ;
  font-family: Crimson Text;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.subtitle {
  background-color: #FAF4F3 ;
  font-family: Crimson Text;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.buttons-container {
  padding-left: 30px;
}

.round-button {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: none;
  background-color: #17674A;
  margin-right: 10px;
  color: white;
  font-family: Crimson Text;
  cursor: pointer;
}

.round-button.active {
  border: 2px solid black;
}

.recipe-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-details {
  flex: 1;
  padding: 20px;
}

.recipe-details h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.recipe-card {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  flex: 0 0 200px;
}

.recipe-image img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-details {
  flex: 1;
  padding: 20px;
  min-width: 0;
}

.recipe-details h3 {
  margin-top: 0;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dietary-requirements {
  font-style: italic;
  color: #666;
}
