.review-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c0dccf;

 form {
  background-color: #FAF4F3;
 }

 h3 {
  font-family: 'Crimson Text';
 }
}

.form-group {
  margin-bottom: 20px;
  background-color: #FAF4F3;

}

.form-group label {
  font-weight: bold;
  font-family: 'Crimson Text';
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Crimson Text';
}

.btn-primary {
  background-color: #17674A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Crimson Text';
}

.btn-primary:hover {
  background-color: #0e5234;
}
